// Body
$body-bg: #f8fafc;
$m: 'DM Mono',
monospace;
$z: 'Noto Sans Zanabazar Square',
sans-serif;
$t: 'Tillana',
cursive;
// Typography
$font-family-sans-serif: $z;
$font-size-base: 1rem;
$line-height-base: 1.6;
